.pager {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  border: none;
  border-radius: 2px;
  padding: 0;
}
.pagination-container:nth-of-type(2) {
  border-left: none;
}
.pagination-item {
  cursor: "pointer";
  text-align: center;
  margin: 0;
  border-right: none;
  border-top: 0px;
  border-bottom: 0px;
  padding: 5px 10px;
}
.prev-pagination-item {
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
}
.next-pagination-item {
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
}
.pagination-item:hover {
  background-color: rgba(33, 63, 125, 0.1);
  color: #f3f3f3;
}
.prev-pagination-item:disabled {
  cursor: not-allowed;
}
.pagination-ellipsis {
  border-left: 1px solid gray;
}
.active {
  background-color: rgba(33, 63, 125, 0.1);
  color: #f3f3f3;
}
.disabled {
  cursor: not-allowed;
  color: lightgray;
}
