$primary: #545f7d;
$secondary: #39cdcc;
$secondary1: #213f7d;

.boxs-container {
  display: flex;

  @media (max-width: 860px) {
    flex-wrap: wrap;
    margin: 30px;
  }
  justify-content: space-between;

  .box1 {
    @media (max-width: 860px) {
      margin: 20px;
    }
    background-color: white;
    padding: 8px;
    padding-left: 14px;
    height: 140px;
    width: 200px;
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
  }
  p {
    padding: 11px 7px 9px 7px;
    text-align: center;
    width: 30px;
    border-radius: 50%;
  }
}
.paginate {
  select {
    background-color: #d5d2d2;
    padding: 5px;
    margin: 10px;
    border: none;
    height: 32px;
  }
  display: flex;
  justify-content: space-between;
  @media (max-width: 560px) {
    display: grid;
    justify-content: center;
  }
  font-size: 13px;
  margin-top: 20px;
}
.table-container {
  @media (max-width: 800px) {
    width: 590px;
    overflow-x: scroll;
  }
  @media (max-width: 500px) {
    width: 330px;
    overflow-x: scroll;
  }
  @media (max-width: 300px) {
    width: 280px;
    overflow-x: scroll;
  }
}

table {
  width: auto;
  margin-top: 60px;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead {
  th {
    background-color: white;
    color: $primary;
  }
}

tbody {
  tr {
    background-color: white;
    &:hover {
      background-color: whitesmoke;
      color: $primary;
    }
  }
  td {
    position: relative;
    color: $primary;
    border-bottom: 1px solid rgb(233, 231, 231);
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: white;
        color: $primary;
        z-index: -1;
      }
    }
  }
}
.status {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
//
.filter-container {
  width: 280px;
  padding: 30px;
  border: transparent;
  position: absolute;
  @media (max-width: 500px) {
    left: 5px;
  }

  z-index: 10;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  select {
    width: 270px;
    background-color: whitesmoke;
    height: 42px;
  }
  input {
    width: 250px;
    background-color: whitesmoke;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .button2 {
      background: $secondary;
      border: none;
      color: white;
    }
    button {
      padding: 10px;
      font-size: 15px;
      padding-left: 30px;
      padding-right: 30px;
      letter-spacing: 1px;
      background-color: transparent;
      border-radius: 5px;
      color: $secondary1;
      border: 1px solid $secondary1;
    }
  }
  .left {
    display: flex;
    color: red;
    cursor: pointer;
    justify-content: right;
  }
}
