$primary: #545f7d;
$secondary: #39cdcc;
$secondary1: #213f7d;

::-webkit-scrollbar {
  width: 7px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  button {
    cursor: pointer;
    font-size: 12px;
    color: white;
    margin-left: -38px;
    background: $secondary;
    border: none;
    font-family: "Avenir Next LT Pro", sans-serif;
    padding: 12.8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 3px;
  }

  .left-container {
    display: flex;
    justify-content: space-between;

    .profile-pic {
      border-radius: 50px;
    }
    .namer {
      margin: 10px;
      margin-top: 17px;
      display: flex;
    }
    .bell {
      margin: 9px;
      margin-top: 12px;
    }
    .profile {
      display: flex;
    }
    a {
      font-weight: bolder;
      color: $secondary1;
      margin-top: 14px;
      margin-right: 30px;
    }
  }
}
.nav-container {
  display: flex;
}
.app-content {
  overflow-y: scroll;
  width: 100%;
  padding: 30px;
  padding-bottom: 0px;
  height: 82vh;
  padding-left: 60px;
  background: #f6f6f6;
}
.navbar {
  height: auto;
  width: 340px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-top: 20px;
  height: 83vh;
  overflow-y: scroll;
  .header-text {
    font-size: small;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: bolder;
    margin-left: 30px;
  }
  .navlist {
    display: flex;
    color: #213f7d;
    height: 50px;
    border: none;
    background: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    opacity: 0.7;

    p {
      margin: 10px;
      margin-top: 3px;
    }
  }
  .navlist1 {
    display: flex;
    color: #213f7d;
    padding-top: 10px;
    padding-left: 15px;
    background: #f3fcfc;
    margin-top: 0px;
    margin-bottom: 10px;
    .letf-square {
      width: 6px;
      height: 40px;
      background-color: #39cdcc;
      margin-left: -15px;
      margin-right: 11px;
      margin-top: -9px;
    }

    p {
      margin: 10px;
      margin-top: 3px;
    }
  }
}
