@import url("https://fonts.cdnfonts.com/css/avenir-next-lt-pro?styles=15221");
body {
  margin: 0;
  font-family: "Avenir Next LT Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.4px;

  color: #545f7d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
